/* Setting the black background */
.root {
    -fx-background-color: #303030;
    -fx-font-family: "Franklin Gothic Heavy", sans-serif; /* Cool font suggestion */
}

/* Label styling */
#welcomeText {
    -fx-font-size: 48px;
    -fx-text-fill: #FFFFFF;
}

/* LineChart styling */
#lineChart {
    -fx-stroke: #FFFFFF;
}

/* Axis styling */
.axis {
    -fx-tick-label-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-family: "Franklin Gothic Heavy", sans-serif; /* Cool font suggestion */
}

/* PieChart styling */
#pieChart {
    -fx-background-color: transparent;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
}

/* PieChart Data styling */
.default-color0.chart-pie { -fx-pie-color: #825D7E; }
.default-color1.chart-pie { -fx-pie-color: #8E44AD; }
.default-color2.chart-pie { -fx-pie-color: #333333; }
.default-color3.chart-pie { -fx-pie-color: #3498DB; }
.default-color4.chart-pie { -fx-pie-color: #1ABC9C; }

.chart-pie-label-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 0.5px;
    -fx-fill: #FFFFFF;
}

.chart-pie-label {
    -fx-fill: #FFFFFF;
    -fx-font-size: 1em;
}

.chart-legend {
    -fx-background-color: #303030;
    -fx-font-size: 48px;
}

.chart-legend-item{
    -fx-text-fill: #FFFFFF;
}

/* LineChart styling */
#lineChart {
    -fx-background-color: transparent;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
}

/* LineChart Series styling */
.default-color0.chart-line-symbol { -fx-background-color: #825D7E, #825D7E; }
.default-color1.chart-line-symbol { -fx-background-color: #8E44AD, #8E44AD; }
.default-color2.chart-line-symbol { -fx-background-color: #333333, #333333; }
.default-color3.chart-line-symbol { -fx-background-color: #3498DB, #3498DB; }
.default-color4.chart-line-symbol { -fx-background-color: #1ABC9C, #1ABC9C; }

.default-color0.chart-line-symbol { -fx-background-radius: 0; }
.default-color1.chart-line-symbol { -fx-background-radius: 0; }
.default-color2.chart-line-symbol { -fx-background-radius: 0; }
.default-color3.chart-line-symbol { -fx-background-radius: 0; }
.default-color4.chart-line-symbol { -fx-background-radius: 0; }

/* LineChart Legend styling */
LineChart.chart-legend {
    -fx-background-color: #303030;
    -fx-font-size: 48px;
}


.chart-legend-item {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 5px 0;
}

.chart-content-background{
    -fx-background-color: #825D7E;

}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.chart-plot-background {
    -fx-background-color: #825D7E;
}
.chart-vertical-grid-lines {
    -fx-stroke: #ffffff ;
        -fx-stroke-dash-array: 12 2 4 2;
        -fx-stroke-dash-offset: 6;

}
.chart-horizontal-grid-lines {
    -fx-stroke: #ffffff ;
        -fx-stroke-dash-array: 12 2 4 2;
        -fx-stroke-dash-offset: 6;
}

