/* Setting the black background */
.root {
    -fx-background-color: #303030;
    -fx-font-family: "Franklin Gothic Heavy", sans-serif; /* Cool font suggestion */
}

/* Label styling */
#welcomeText {
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}

/* ImageView styling */
#ImageBox {
    -fx-fit-height: 200px; /* Adjust the height as needed */
    -fx-fit-width: 200px; /* Adjust the width as needed */
}

/* HBox styling */
#HB {
    -fx-spacing: 15px;
}

/* Button styling */
#Btn1,
#Btn2,
#Btn3,
#Btn4,
#Btn5 {
    -fx-background-color: #8E44AD;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Franklin Gothic Heavy", sans-serif; /* Cool font suggestion */
}

/* Hover effect for buttons */
#Btn1:hover,
#Btn2:hover,
#Btn3:hover,
#Btn4:hover,
#Btn5:hover {
    -fx-background-color: #825D7E;
}
